In [331]:
from datetime import datetime
from typing import List, Set
from typing import Optional
from sqlalchemy import ForeignKey
from sqlalchemy import String
from sqlalchemy import Integer
from sqlalchemy import Boolean
from sqlalchemy import Float
from sqlalchemy import func, text
from sqlalchemy import UniqueConstraint
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship


from sqlalchemy import create_engine

class Base(DeclarativeBase):
    pass

class Company(Base):
    __tablename__ = 'company'
    id: Mapped[int] = mapped_column(primary_key=True)
    #coa_key: Mapped[int] = mapped_column(ForeignKey('chart_of_accounts.id'))
    company_name: Mapped[str] = mapped_column(String(250))
    company_type: Mapped[str] = mapped_column(String(50))
    date: Mapped[datetime] = mapped_column(insert_default=func.now())
    description: Mapped[str] = mapped_column(String(1000))

    coa: Mapped['ChartOfAccounts'] = relationship(back_populates='company', uselist=False)  # , primaryjoin=coa_key==ChartOfAccounts.id)

    #__table_args__ = (UniqueConstraint('coa_key'),)
    
    def __repr__(self) -> str:
        return f"Company(id={self.id!r}, company_name={self.company_name!r}, description={self.description!r})"
    

class ChartOfAccounts(Base):
    __tablename__ = 'chart_of_accounts'
    id: Mapped[int] = mapped_column(primary_key=True)
    company_key: Mapped[int] = mapped_column(ForeignKey('company.id'))
    name: Mapped[str] = mapped_column(String(50))

    company: Mapped['Company'] = relationship(back_populates='coa', single_parent=True, foreign_keys=[company_key], uselist=False)
    accounts: Mapped[List['Accounts']] = relationship(back_populates='coa')

    def __repr__(self) -> str:
        return f"ChartOfAccounts(id={self.id!r}, description={self.company!r})" 

def get_parent_coa_key(context):
    parent_account_key = context.compiled_parameters[0]['parent_account_key']
    
    sql = text(f'SELECT coa_key FROM accounts WHERE id={parent_account_key}')
    result = context.connection.execute(sql).fetchone()[0]
    print(result)
    return result

class Accounts(Base):
    __tablename__ = 'accounts'
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    coa_key: Mapped[int] = mapped_column(ForeignKey('chart_of_accounts.id'), default=get_parent_coa_key)
    parent_account_key: Mapped[int] = mapped_column(ForeignKey('accounts.id'), nullable=True)
    name: Mapped[str] = mapped_column(String(50))
    number: Mapped[int] = mapped_column(Integer)
    account_type: Mapped[str] = mapped_column(String(50))
    is_container: Mapped[bool] = mapped_column(Boolean)
    is_root: Mapped[bool] = mapped_column(Boolean)
    date_created: Mapped[datetime] = mapped_column(insert_default=func.now())
    date_modified: Mapped[datetime] = mapped_column(insert_default=func.now())
    description: Mapped[str] = mapped_column(String(250))  

    coa: Mapped['ChartOfAccounts'] = relationship(back_populates='accounts')
    children: Mapped[Set['Accounts']] = relationship('Accounts')
    splits: Mapped[Set['Splits']] = relationship('Splits', back_populates='account')

    def __repr__(self) -> str:
        return f"Accounts(id={self.id!r}, description={self.description!r}, container={self.is_container!r}, root={self.is_root!r})"


class JournalEntries(Base):
    __tablename__ = 'journal_entries'
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    date: Mapped[datetime] = mapped_column(insert_default=func.now())
    date_entered: Mapped[datetime] = mapped_column(insert_default=func.now())
    date_modified: Mapped[datetime] = mapped_column(insert_default=func.now())
    description: Mapped[str] = mapped_column(String(250))  
    memo: Mapped[str] = mapped_column(String(250))  
    debit: Mapped[float] = mapped_column(Float, nullable=True)
    credit: Mapped[float] = mapped_column(Float, nullable=True)

    splits: Mapped[Set['Splits']] = relationship(back_populates='journal_entry')

    def __repr__(self) -> str:
        return f"JournalEntries(id={self.id!r}, description={self.description!r}, debit={self.debit!r}, credit={self.credit!r})"

class Splits(Base):
    __tablename__ = 'splits'
    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    journal_entry_key: Mapped[int] = mapped_column(ForeignKey('journal_entries.id'))
    account_key: Mapped[int] = mapped_column(ForeignKey('accounts.id'))
    date: Mapped[datetime] = mapped_column(insert_default=func.now())
    description: Mapped[str] = mapped_column(String(250)) 
    memo: Mapped[str] = mapped_column(String(250)) 
    debit: Mapped[float] = mapped_column(Float)
    credit: Mapped[float] = mapped_column(Float)

    journal_entry: Mapped['JournalEntries'] = relationship(back_populates='splits')
    account: Mapped['Accounts'] = relationship(back_populates='splits')

    def __repr__(self) -> str:
         return f"Splits(id={self.id!r}, description={self.description!r}, debit={self.debit!r}, credit={self.credit!r})"


from sqlalchemy import event
@event.listens_for(Splits.debit, 'set', retval=True)
def Splits_debit_modified_listener(target, value, oldvalue, initiator):
    print('setting to 4')
    return 4

In [332]:
engine = create_engine('sqlite://', echo=True)

In [333]:
Base.metadata.create_all(engine)

2025-05-21 14:53:54,633 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,634 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("company")
2025-05-21 14:53:54,634 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,635 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("company")
2025-05-21 14:53:54,636 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,638 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("chart_of_accounts")
2025-05-21 14:53:54,639 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,640 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("chart_of_accounts")
2025-05-21 14:53:54,641 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,643 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("accounts")
2025-05-21 14:53:54,643 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,645 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("accounts")
2025-05-21 14:53:54,646 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,647 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("journal_entries")
2025-05-21 14:53:54,647 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,648 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("journal_entries")
2025-05-21 14:53:54,649 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,650 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("splits")
2025-05-21 14:53:54,651 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,651 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("splits")
2025-05-21 14:53:54,652 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,654 INFO sqlalchemy.engine.Engine
CREATE TABLE company (
	id INTEGER NOT NULL,
	company_name VARCHAR(250) NOT NULL,
	company_type VARCHAR(50) NOT NULL,
	date DATETIME NOT NULL,
	description VARCHAR(1000) NOT NULL,
	PRIMARY KEY (id)
)


2025-05-21 14:53:54,654 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2025-05-21 14:53:54,656 INFO sqlalchemy.engine.Engine
CREATE TABLE journal_entries (
	id INTEGER NOT NULL,
	date DATETIME NOT NULL,
	date_entered DATETIME NOT NULL,
	date_modified DATETIME NOT NULL,
	description VARCHAR(250) NOT NULL,
	memo VARCHAR(250) NOT NULL,
	debit FLOAT,
	credit FLOAT,
	PRIMARY KEY (id)
)


2025-05-21 14:53:54,657 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2025-05-21 14:53:54,658 INFO sqlalchemy.engine.Engine
CREATE TABLE chart_of_accounts (
	id INTEGER NOT NULL,
	company_key INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_key) REFERENCES company (id)
)


2025-05-21 14:53:54,659 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2025-05-21 14:53:54,660 INFO sqlalchemy.engine.Engine
CREATE TABLE accounts (
	id INTEGER NOT NULL,
	coa_key INTEGER NOT NULL,
	parent_account_key INTEGER,
	name VARCHAR(50) NOT NULL,
	number INTEGER NOT NULL,
	account_type VARCHAR(50) NOT NULL,
	is_container BOOLEAN NOT NULL,
	is_root BOOLEAN NOT NULL,
	date_created DATETIME NOT NULL,
	date_modified DATETIME NOT NULL,
	description VARCHAR(250) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(coa_key) REFERENCES chart_of_accounts (id),
	FOREIGN KEY(parent_account_key) REFERENCES accounts (id)
)


2025-05-21 14:53:54,661 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2025-05-21 14:53:54,663 INFO sqlalchemy.engine.Engine
CREATE TABLE splits (
	id INTEGER NOT NULL,
	journal_entry_key INTEGER NOT NULL,
	account_key INTEGER NOT NULL,
	date DATETIME NOT NULL,
	description VARCHAR(250) NOT NULL,
	memo VARCHAR(250) NOT NULL,
	debit FLOAT NOT NULL,
	credit FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(journal_entry_key) REFERENCES journal_entries (id),
	FOREIGN KEY(account_key) REFERENCES accounts (id)
)


2025-05-21 14:53:54,663 INFO sqlalchemy.engine.Engine [no key 0.00071s] ()
2025-05-21 14:53:54,664 INFO sqlalchemy.engine.Engine COMMIT

In [334]:
from sqlalchemy.orm import Session

with Session(engine) as s:
    
    company = Company(
        company_name='Test Company',
        company_type='LLC',
        date=datetime.now(),
        description='A test company',
        coa = ChartOfAccounts(
            name='Test COA2',
            accounts=[
                Accounts(
                    name='Assets',
                    number=1000,
                    account_type='asset',
                    is_container=True,
                    is_root=True,
                    date_created=datetime.now(),
                    date_modified=datetime.now(),
                    description='Top-level asset account',
                    children={
                        Accounts(
                            name='Current',
                            number=1100,
                            account_type='asset',
                            is_container=True,
                            is_root=False,
                            date_created=datetime.now(),
                            date_modified=datetime.now(),
                            description='Container asset account for current assets',
                            children={
                                Accounts(
                                    name='Checking',
                                    number=1110,
                                    account_type='asset',
                                    is_container=False,
                                    is_root=False,
                                    date_created=datetime.now(),
                                    date_modified=datetime.now(),
                                    description='Checking account',
                                    children=set(),
                                    
                                )
                            }
                        ),
                        Accounts(
                            name='Investments',
                            number=1200,
                            account_type='asset',
                            is_container=True,
                            is_root=False,
                            date_created=datetime.now(),
                            date_modified=datetime.now(),
                            description='Container asset account for investments',
                            children={
                                Accounts(
                                    name='Development A',
                                    number=1210,
                                    account_type='asset',
                                    is_container=False,
                                    is_root=False,
                                    date_created=datetime.now(),
                                    date_modified=datetime.now(),
                                    description='Investment in Development A',
                                    children=set()
                                )
                            }
                        )
                    }                                        
                )
            ]
        )
    )

    

    s.add_all([company, ])
    s.commit()

    checking_acct_num = s.execute(text(f'SELECT id FROM accounts WHERE accounts.name="Checking"')).fetchone()[0]
    investment_acct_num = s.execute(text(f'SELECT id FROM accounts WHERE accounts.name="Development A"')).fetchone()[0]

    journal_entries = JournalEntries(
        description='ENTRY 1',
        memo='Memo for ENTRY 1',
        splits={
            Splits(
                description='Split 1 Debit',
                memo='Split 1 memo',
                account_key=investment_acct_num,
                debit=100.0,
                credit=0.0,
            ),
            Splits(
                description='Split 2 Credit',
                memo='Split 1 Credit memo',
                account_key=checking_acct_num,
                debit=0.0,
                credit=100.0,
            ),
        },
    )

    s.add_all([journal_entries])
    s.commit()

2025-05-21 14:53:54,684 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,687 INFO sqlalchemy.engine.Engine INSERT INTO company (company_name, company_type, date, description) VALUES (?, ?, ?, ?)
2025-05-21 14:53:54,687 INFO sqlalchemy.engine.Engine [generated in 0.00075s] ('Test Company', 'LLC', '2025-05-21 14:53:54.675170', 'A test company')
2025-05-21 14:53:54,690 INFO sqlalchemy.engine.Engine INSERT INTO chart_of_accounts (company_key, name) VALUES (?, ?)
2025-05-21 14:53:54,690 INFO sqlalchemy.engine.Engine [generated in 0.00075s] (1, 'Test COA2')
2025-05-21 14:53:54,692 INFO sqlalchemy.engine.Engine INSERT INTO accounts (coa_key, parent_account_key, name, number, account_type, is_container, is_root, date_created, date_modified, description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-21 14:53:54,693 INFO sqlalchemy.engine.Engine [generated in 0.00066s] (1, None, 'Assets', 1000, 'asset', 1, 1, '2025-05-21 14:53:54.675175', '2025-05-21 14:53:54.675176', 'Top-level asset account')
2025-05-21 14:53:54,695 INFO sqlalchemy.engine.Engine SELECT coa_key FROM accounts WHERE id=1
2025-05-21 14:53:54,696 INFO sqlalchemy.engine.Engine [generated in 0.00111s] ()
1
2025-05-21 14:53:54,698 INFO sqlalchemy.engine.Engine SELECT coa_key FROM accounts WHERE id=1
2025-05-21 14:53:54,698 INFO sqlalchemy.engine.Engine [cached since 0.003363s ago] ()
1
2025-05-21 14:53:54,699 INFO sqlalchemy.engine.Engine INSERT INTO accounts (coa_key, parent_account_key, name, number, account_type, is_container, is_root, date_created, date_modified, description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-21 14:53:54,700 INFO sqlalchemy.engine.Engine [generated in 0.00475s (insertmanyvalues) 1/2 (ordered; batch not supported)] (1, 1, 'Current', 1100, 'asset', 1, 0, '2025-05-21 14:53:54.675176', '2025-05-21 14:53:54.675176', 'Container asset account for current assets')
2025-05-21 14:53:54,701 INFO sqlalchemy.engine.Engine INSERT INTO accounts (coa_key, parent_account_key, name, number, account_type, is_container, is_root, date_created, date_modified, description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-21 14:53:54,702 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] (1, 1, 'Investments', 1200, 'asset', 1, 0, '2025-05-21 14:53:54.684276', '2025-05-21 14:53:54.684279', 'Container asset account for investments')
2025-05-21 14:53:54,704 INFO sqlalchemy.engine.Engine SELECT coa_key FROM accounts WHERE id=2
2025-05-21 14:53:54,705 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ()
1
2025-05-21 14:53:54,706 INFO sqlalchemy.engine.Engine SELECT coa_key FROM accounts WHERE id=2
2025-05-21 14:53:54,707 INFO sqlalchemy.engine.Engine [cached since 0.003128s ago] ()
1
2025-05-21 14:53:54,708 INFO sqlalchemy.engine.Engine INSERT INTO accounts (coa_key, parent_account_key, name, number, account_type, is_container, is_root, date_created, date_modified, description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-21 14:53:54,709 INFO sqlalchemy.engine.Engine [cached since 0.01331s ago (insertmanyvalues) 1/2 (ordered; batch not supported)] (1, 2, 'Checking', 1110, 'asset', 0, 0, '2025-05-21 14:53:54.675177', '2025-05-21 14:53:54.675177', 'Checking account')
2025-05-21 14:53:54,710 INFO sqlalchemy.engine.Engine INSERT INTO accounts (coa_key, parent_account_key, name, number, account_type, is_container, is_root, date_created, date_modified, description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-21 14:53:54,710 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] (1, 3, 'Development A', 1210, 'asset', 0, 0, '2025-05-21 14:53:54.684280', '2025-05-21 14:53:54.684280', 'Investment in Development A')
2025-05-21 14:53:54,713 INFO sqlalchemy.engine.Engine COMMIT
2025-05-21 14:53:54,715 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,716 INFO sqlalchemy.engine.Engine SELECT id FROM accounts WHERE accounts.name="Checking"
2025-05-21 14:53:54,716 INFO sqlalchemy.engine.Engine [generated in 0.00081s] ()
2025-05-21 14:53:54,718 INFO sqlalchemy.engine.Engine SELECT id FROM accounts WHERE accounts.name="Development A"
2025-05-21 14:53:54,719 INFO sqlalchemy.engine.Engine [generated in 0.00077s] ()
setting to 4
setting to 4
2025-05-21 14:53:54,721 INFO sqlalchemy.engine.Engine INSERT INTO journal_entries (date, date_entered, date_modified, description, memo, debit, credit) VALUES (CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?, ?, ?, ?) RETURNING id, date, date_entered, date_modified
2025-05-21 14:53:54,722 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ('ENTRY 1', 'Memo for ENTRY 1', None, None)
2025-05-21 14:53:54,724 INFO sqlalchemy.engine.Engine INSERT INTO splits (journal_entry_key, account_key, date, description, memo, debit, credit) VALUES (?, ?, CURRENT_TIMESTAMP, ?, ?, ?, ?) RETURNING id, date
2025-05-21 14:53:54,725 INFO sqlalchemy.engine.Engine [generated in 0.00014s (insertmanyvalues) 1/2 (ordered; batch not supported)] (1, 4, 'Split 2 Credit', 'Split 1 Credit memo', 4.0, 100.0)
2025-05-21 14:53:54,727 INFO sqlalchemy.engine.Engine INSERT INTO splits (journal_entry_key, account_key, date, description, memo, debit, credit) VALUES (?, ?, CURRENT_TIMESTAMP, ?, ?, ?, ?) RETURNING id, date
2025-05-21 14:53:54,727 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] (1, 5, 'Split 1 Debit', 'Split 1 memo', 4.0, 0.0)
2025-05-21 14:53:54,729 INFO sqlalchemy.engine.Engine COMMIT

In [335]:
from sqlalchemy import text

engine.connect().execute(text('SELECT debit FROM splits WHERE splits.journal_entry_key=1')).fetchall()

2025-05-21 14:53:54,736 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,738 INFO sqlalchemy.engine.Engine SELECT debit FROM splits WHERE splits.journal_entry_key=1
2025-05-21 14:53:54,739 INFO sqlalchemy.engine.Engine [generated in 0.00260s] ()

[(4.0,), (4.0,)]

In [336]:
from sqlalchemy import inspect
inspector = inspect(engine)
schemas = inspector.get_schema_names()

for t in inspector.get_table_names(schema=schema):
    print(engine.connect().execute(text(f'SELECT * from {t}')).fetchall())
    
for schema in schemas:
    print("schema: %s" % schema)
    for table_name in inspector.get_table_names(schema=schema):
        for column in inspector.get_columns(table_name, schema=schema):
            print("Column: %s" % column)

2025-05-21 14:53:54,749 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,751 INFO sqlalchemy.engine.Engine PRAGMA database_list
2025-05-21 14:53:54,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,754 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-21 14:53:54,755 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,755 INFO sqlalchemy.engine.Engine SELECT name FROM "main".sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-05-21 14:53:54,756 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,758 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-21 14:53:54,759 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,759 INFO sqlalchemy.engine.Engine SELECT * from accounts
2025-05-21 14:53:54,760 INFO sqlalchemy.engine.Engine [generated in 0.00152s] ()
[(1, 1, None, 'Assets', 1000, 'asset', 1, 1, '2025-05-21 14:53:54.675175', '2025-05-21 14:53:54.675176', 'Top-level asset account'), (2, 1, 1, 'Current', 1100, 'asset', 1, 0, '2025-05-21 14:53:54.675176', '2025-05-21 14:53:54.675176', 'Container asset account for current assets'), (3, 1, 1, 'Investments', 1200, 'asset', 1, 0, '2025-05-21 14:53:54.684276', '2025-05-21 14:53:54.684279', 'Container asset account for investments'), (4, 1, 2, 'Checking', 1110, 'asset', 0, 0, '2025-05-21 14:53:54.675177', '2025-05-21 14:53:54.675177', 'Checking account'), (5, 1, 3, 'Development A', 1210, 'asset', 0, 0, '2025-05-21 14:53:54.684280', '2025-05-21 14:53:54.684280', 'Investment in Development A')]
2025-05-21 14:53:54,763 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,763 INFO sqlalchemy.engine.Engine SELECT * from chart_of_accounts
2025-05-21 14:53:54,764 INFO sqlalchemy.engine.Engine [generated in 0.00173s] ()
[(1, 1, 'Test COA2')]
2025-05-21 14:53:54,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,766 INFO sqlalchemy.engine.Engine SELECT * from company
2025-05-21 14:53:54,767 INFO sqlalchemy.engine.Engine [generated in 0.00168s] ()
[(1, 'Test Company', 'LLC', '2025-05-21 14:53:54.675170', 'A test company')]
2025-05-21 14:53:54,769 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,769 INFO sqlalchemy.engine.Engine SELECT * from journal_entries
2025-05-21 14:53:54,770 INFO sqlalchemy.engine.Engine [generated in 0.00105s] ()
[(1, '2025-05-21 18:53:54', '2025-05-21 18:53:54', '2025-05-21 18:53:54', 'ENTRY 1', 'Memo for ENTRY 1', None, None)]
2025-05-21 14:53:54,772 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,772 INFO sqlalchemy.engine.Engine SELECT * from splits
2025-05-21 14:53:54,773 INFO sqlalchemy.engine.Engine [generated in 0.00173s] ()
[(1, 1, 4, '2025-05-21 18:53:54', 'Split 2 Credit', 'Split 1 Credit memo', 4.0, 100.0), (2, 1, 5, '2025-05-21 18:53:54', 'Split 1 Debit', 'Split 1 memo', 4.0, 0.0)]
schema: main
2025-05-21 14:53:54,775 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,775 INFO sqlalchemy.engine.Engine PRAGMA "main".table_xinfo("accounts")
2025-05-21 14:53:54,776 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,777 INFO sqlalchemy.engine.Engine ROLLBACK
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}
Column: {'name': 'coa_key', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'parent_account_key', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}
Column: {'name': 'name', 'type': VARCHAR(length=50), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'number', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'account_type', 'type': VARCHAR(length=50), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'is_container', 'type': BOOLEAN(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'is_root', 'type': BOOLEAN(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'date_created', 'type': DATETIME(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'date_modified', 'type': DATETIME(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'description', 'type': VARCHAR(length=250), 'nullable': False, 'default': None, 'primary_key': 0}
2025-05-21 14:53:54,778 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,779 INFO sqlalchemy.engine.Engine PRAGMA "main".table_xinfo("chart_of_accounts")
2025-05-21 14:53:54,779 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,780 INFO sqlalchemy.engine.Engine ROLLBACK
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}
Column: {'name': 'company_key', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'name', 'type': VARCHAR(length=50), 'nullable': False, 'default': None, 'primary_key': 0}
2025-05-21 14:53:54,781 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,782 INFO sqlalchemy.engine.Engine PRAGMA "main".table_xinfo("company")
2025-05-21 14:53:54,783 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,785 INFO sqlalchemy.engine.Engine ROLLBACK
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}
Column: {'name': 'company_name', 'type': VARCHAR(length=250), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'company_type', 'type': VARCHAR(length=50), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'date', 'type': DATETIME(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'description', 'type': VARCHAR(length=1000), 'nullable': False, 'default': None, 'primary_key': 0}
2025-05-21 14:53:54,787 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,787 INFO sqlalchemy.engine.Engine PRAGMA "main".table_xinfo("journal_entries")
2025-05-21 14:53:54,789 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,790 INFO sqlalchemy.engine.Engine ROLLBACK
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}
Column: {'name': 'date', 'type': DATETIME(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'date_entered', 'type': DATETIME(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'date_modified', 'type': DATETIME(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'description', 'type': VARCHAR(length=250), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'memo', 'type': VARCHAR(length=250), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'debit', 'type': FLOAT(), 'nullable': True, 'default': None, 'primary_key': 0}
Column: {'name': 'credit', 'type': FLOAT(), 'nullable': True, 'default': None, 'primary_key': 0}
2025-05-21 14:53:54,791 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 14:53:54,792 INFO sqlalchemy.engine.Engine PRAGMA "main".table_xinfo("splits")
2025-05-21 14:53:54,793 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 14:53:54,794 INFO sqlalchemy.engine.Engine ROLLBACK
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}
Column: {'name': 'journal_entry_key', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'account_key', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'date', 'type': DATETIME(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'description', 'type': VARCHAR(length=250), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'memo', 'type': VARCHAR(length=250), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'debit', 'type': FLOAT(), 'nullable': False, 'default': None, 'primary_key': 0}
Column: {'name': 'credit', 'type': FLOAT(), 'nullable': False, 'default': None, 'primary_key': 0}